* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: gray;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  height: 100vh;
  border: 5px solid #5d5d5f92;
  /* margin: 5px; */
  padding: 5px;
}