@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.footer {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 3px;
}

.logo-react {
  color: #00d1f7;
  font-size: 2rem;
}

.logo-heart {
  color: red;
  font-size: 2rem;
}
